@import "colors.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #fafafa;
}

#top-nav-bar {
    position: sticky;
    height: 10%;
    display: flex;
    align-items: center;
    width:100%;
    padding: 0 1rem 0 1rem;
    box-shadow: 0 0.25rem 0.25rem 0.0625rem rgba(0, 0, 0, 10%);
    background-color: var(--accent-color-main);
}

#top-nav-bar > #logo {
    font-weight: bolder;
    color: white;
    font-size: 2rem;
}

#tnb-placeholder-text {
    margin: 0 auto 0 auto;
    color: #cccccc;
}

#body-region {
    height: 93%;
    display: flex;
}

#side-nav-bar {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 1rem;
    align-items: center;
}

#side-nav-bar > * {
    text-align: center;
    margin: 1rem 0 0 0;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--accent-color-alt);
    background-color: white;
    border: #cccccc 1px solid;
    border-radius: 3px;
    filter: drop-shadow(0 0.5rem 0.2rem rgba(0, 0, 0, 7%));
}

#side-nav > * {
    text-align: center;
    padding: 1rem 0.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

#side-nav > *:hover {
    animation-name: 'btn-select';
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes btn-select {
    100% {
        color: white;
        background-color: var(--accent-color-alt);
    }
}

#login-display {
    padding: 2rem 0 2rem 0;
}

#login-display > p {
    width: 100%;
}

#login-display > a {
    color: var(--accent-color-alt);
}

#content-main {
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

/* compensate vert. margin for first/last elem */
#content-main > *:first-child {
    margin-top: 1rem;
}

#content-main > *:last-child {
    margin-bottom: 2rem;
}

.user-post {
    margin: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    border: #cccccc 1px solid;
    border-radius: 3px;
    width: 90%;
    height: fit-content;
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: white;
    cursor: pointer;
}

.post-user-info {
    color: #888888;
    margin-bottom: 1rem;
}

#err-no-post {
    align-self: center;
    justify-self: center;
}

.post-content {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 1rem 0.5rem;
    background-color: white;
}

.post-title {
    color: var(--accent-color-main);
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.post-author {
    color: #666666;
    font-size: small;
}

.post-like-count {
    margin-top: auto;
    color: #cccccc;
}

#btn-new-post {
    display: flex;
    align-items: center;
    position: fixed;
    height: 3rem;
    width: 9rem;
    right: 2rem;
    bottom: 2rem;
    border: 1px #888888 solid;
    background-color: white;
    border-radius: 3px;
    filter: drop-shadow(0 0.5rem 0.2rem rgba(0, 0, 0, 7%));
}

#btn-new-post-icon {
    font-size: large;
    flex: 2;
    margin: 0 1rem 0 1rem;
}

#btn-new-post-text {
    flex: 8
}

#mask-grayout-fullpage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 30%);
    z-index: 100;
}

#post-creation-menu {
    padding: 0.5rem;
    position: fixed;
    top: 25vh;
    left: 25vw;
    height: 50vh;
    width: 50vw;
    background-color: white;
    border-radius: 3px;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 20%));
    z-index: 101;
    overflow: hidden;
}

#post-creation-form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

#post-creation-title {
    width: 100%;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: #cccccc 1px solid;
    padding-right: 0;
}

#post-creation-title > input {
    color: var(--accent-color-main);
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    border: none;
    outline: none;
}


#post-creation-body {
    width: 100%;
    height: 100%;
}

#post-creation-body > textarea {
    color: #333333;
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.post-menu-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 2rem;
    bottom: 1rem;
    right: 1rem;
    justify-content: right;
}

.post-menu-buttons > div, .post-menu-buttons > button {
    font-size: small;
    color: #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    border: 1px #888888 solid;
    border-radius: 3px;
    margin-left: 0.5rem;
}

#post-send {
    font-weight: bold;
    color: white;
    background-color: var(--accent-color-alt);
    filter: drop-shadow(0 0.5rem 0.2rem rgba(0, 0, 0, 7%));
}