<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Chatroom!</title>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    </head>

    <body>
        <script src="../static/js/jQuery-3.6.0.js"></script>
        <nav id="top-nav-bar">
            <div id="tnb-placeholder-text"></div>
        </nav>

        <div id="body-region">
            <div id="chat-window">
                <div id="chat-msg-display">
                    <div class="chat-msg">
                    </div>
                </div>


                <div id="chat-toolbar">
                    <label for="text-input"></label>
                    <div id="text-input">
                        <p id="text-input-content" contenteditable="true"></p>
                    </div>

                    <button id="send-btn">Send</button>

                    <script>
                        $(document).ready(function(){
                            $("#send-btn").click(function(){
                                if($("#text-input-content").html() == "") {}
                                else {
                                    $.post(`/api/post-message`, $("#text-input-content").html(), function (data, status)
                                    {
                                        document.getElementById("text-input-content").innerHTML = "";
                                        var elem = document.getElementById('chat-msg-display');
                                        elem.scrollTop = elem.scrollHeight;
                                    });
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

        <div id="mask-grayout-fullpage">
            <script>
                $(document).ready(function(){
                    $("#mask-grayout-fullpage").click(function(){
                        window.activeSubWindow.fadeToggle(500);
                        $("#post-creation-menu").fadeToggle(500);
                        window.activeSubWindow = null;
                    });
                });
            </script>
        </div>
    </body>

    <script>
        /* init */
        $(document).ready(function() {

            $("#mask-grayout-fullpage").toggle();
            window.activeSubWindow = null;
            window.maxMessageID = -1;
            $.get("/api/get-username", function (data){
                window.username = data.toString()
            })

            function updateChatDisplay(type, username, send_time, private_marker, content) {
                if(private_marker === null || private_marker === "null")
                {
                    private_marker = " "
                }
                var html;
                if(type === "system")
                {
                    html = `<div class="chat-msg-system">${content}</div>`
                } else if(type === "self") {
                    html = `<div class="chat-msg-self">
<div class="chat-msg-metadata">
<div class="chat-msg-username">${username}</div>
<div class="chat-msg-send-time">${send_time}</div>
<div class="chat-msg-private-marker">${private_marker}</div>
</div>
<div class="chat-msg-content">${content}</div>
</div>`
                } else {
                    html = `<div class="chat-msg">
<div class="chat-msg-metadata">
<div class="chat-msg-username">${username}</div>
<div class="chat-msg-send-time">${send_time}</div>
<div class="chat-msg-private-marker">${private_marker}</div>
</div>
<div class="chat-msg-content">${content}</div>
</div>`
                }

                $("#chat-msg-display").append(html)
            }
            window.updateChatDisplay = updateChatDisplay


            var getMessageLoop = window.setInterval(function (){
                console.log(`Requesting /api/get-message?maxMessageID=${window.maxMessageID}`)
                $.getJSON(`/api/get-message?maxMessageID=${window.maxMessageID}`, function (data){
                    $.each(data, function (key, content) {
                        console.log(content)
                        if(content != null) {
                            const date = new Date(content.timestamp)
                            let dateFormat = `${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}:${date.getSeconds().toString().padStart(2, '0')}`

                            if (content.private_recipient == null) {
                                content.private_recipient = ""
                            }

                            if (content.type === "system") {
                                updateChatDisplay("system", null, null, null, content.content)
                            } else {
                                if (content.sender === window.username) {
                                    updateChatDisplay("self", content.sender, dateFormat, content.private_recipient, content.content)
                                } else {
                                    updateChatDisplay("plain", content.sender, dateFormat, content.private_recipient, content.content)
                                }
                            }

                            var elem = document.getElementById('chat-msg-display');
                            elem.scrollTop = elem.scrollHeight;

                           if (content.id > window.maxMessageID) {
                               window.maxMessageID = content.id
                           }
                        }
                   });
                });
            }, 250);
        });
    </script>
</html>