<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Login to Chatroom</title>
        <link rel="stylesheet" type="text/css" href="../static/css/function-page.css">
        <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    </head>

    <body>
        <script src="../static/js/jQuery-3.6.0.js"></script>

        <div class="banner-pic"></div>

        <div class="function-pane">
            <div id="prompt">
                <p id="login-prompt" class="function-prompt heading-prompt-selected">
                    Login to CHATROOM
                    <script>
                        $(document).ready(function() {
                            $("#login-prompt").click(function () {
                                $("#register-prompt").removeClass("heading-prompt-selected")
                                $("#register-form").hide()
                                $("#login-prompt").addClass("heading-prompt-selected")
                                $("#login-form").show()
                            })
                        });
                    </script>
                </p>
                <p id="heading-prompt-divisor">
                    OR
                     <script>
                        $(document).ready(function() {
                            $("#register-prompt").click(function () {
                                $("#login-prompt").removeClass("heading-prompt-selected")
                                $("#login-form").hide()
                                $("#register-prompt").addClass("heading-prompt-selected")
                                $("#register-form").show()
                            })
                        });
                    </script>
                </p>
                <p id="register-prompt" class="function-prompt">Register New Account</p>
            </div>

            <div id="form-area">
                <form action="/user-login-auth" method="get" id="login-form">
                    <div class="group-ipt">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" required>
                    </div>

                    <div class="group-ipt">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required>
                    </div>

                    <div class="button">
                        <button type="submit" id="login-button">Login</button>
                    </div>
                </form>

                <form action="/user-register" method="get" id="register-form">
                        <div class="group-ipt">
                            <label for="register-username">Username</label>
                            <input type="text" name="username" id="register-username" required>
                        </div>

                        <div class="group-ipt">
                            <label for="register-email">E-mail Address</label>
                            <input type="text" name="email" id="register-email" required>
                        </div>

                        <div class="group-ipt">
                            <label for="register-password">Password</label>
                            <input type="password" name="password" id="register-password" required>
                        </div>

                        <div class="button">
                            <button type="submit" id="register-button">Register</button>
                        </div>
                </form>
            </div>
        </div>
    </body>

    <script>
        /* init */
        $(document).ready(function() {
            $("#register-form").hide()
        });
    </script>
</html>